.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    background: rgba(255,255,255,.75);
    backdrop-filter: blur(18px);

    border-bottom: 1px solid var(--border);
}

.navbar {
    width: min(1200px,90%);
    margin: auto;

    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--text);
}

.logo span {
    color: var(--primary);
}

.navLinks {
    display: flex;
    gap: 2rem;
}

.navLinks a {
    color: var(--text-light);
    font-weight: 500;

    transition: .25s;
}

.navLinks a:hover {
    color: var(--primary);
}

.navActions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btnSmall {
    padding: .75rem 1.4rem;
}