.container{
    width:min(1200px,90%);
    margin:auto;
}

.section{
    padding:5rem 0;
}

.hero{
    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;
}

.hero-content{
    max-width:700px;
}

.grid{
    display:grid;

    gap:2rem;
}

.grid-3{
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
}